<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Редактировать исполнительную схему</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top" class="vsc-initialized">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar_extended :: sidebar_extended}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h2 mb-0 text-primary">Исполнительные схемы</h1>
                </div>
                <hr>

                <div class="card shadow">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Редактирование исполнительной схемы</h6>
                    </div>

                    <div class="card-body">
                        <form method="post">
                            <div class="row mb-4">
                                <!-- Правая часть формы-->
                                <div class="col-lg-7 mb-3 pr-2">
                                    <div class="card mb-4">
                                        <div class="card-body p-3 pr-5">
                                            <div class="form-group row mb-0 align-items-center">
                                                <label class="col-lg-5 text-center" for="nameScheme">Название исполнительной схемы</label>
                                                <input class="col-lg-7 form-control" id="nameScheme" type="text" name="nameScheme">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h5 class="h5 mb-0">Координаты зоны работ</h5>
                                        </div>
                                        <div class="card-body p-3 pr-5">
                                            <div class="form-group row align-items-center">
                                                <div class="col-lg-4">
                                                    <label>Начальная координата</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div>
                                                        <label class="">X =</label>
                                                        <input type="text" class="" name="startCoordinateX">
                                                    </div>
                                                    <div>
                                                        <label class="">Y =</label>
                                                        <input type="text" class="" name="startCoordinateX">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <div class="col-lg-4">
                                                    <label>Конечная координата</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div>
                                                        <label class="">X =</label>
                                                        <input type="text" class="" name="endCoordinateX">
                                                    </div>
                                                    <div>
                                                        <label class="">Y =</label>
                                                        <input type="text" class="" name="endCoordinateY">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <div class="col-lg-4">
                                                    <label>Центр колодца</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div>
                                                        <label class="">X =</label>
                                                        <input type="text" class="" name="wellCenterX">
                                                    </div>
                                                    <div>
                                                        <label class="">Y =</label>
                                                        <input type="text" class="" name="wellCenterY">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <div class="col-lg-4">
                                                    <label>Отметки выполненных работ</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div>
                                                        <label class="">начальная отметка</label>
                                                        <input type="text" class="" name="startingPoint">
                                                    </div>
                                                    <div>
                                                        <label class="">конечная отметка</label>
                                                        <input type="text" class="" name="endingPoint">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-body p-3 pr-5">
                                            <div class="form-group row align-items-top mb-0">
                                                <div class="col-lg-6">
                                                    <label class="mt-1">Раздел проекта, номер чертежа, по которым выполнены работы</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-6">
                                                            <select class="btn btn-light dropdown-toggle" id="projectSectionSelect" name="projectSectionSelect" onchange="">
                                                                <option value="00444-038-НВ00444-038-НВ">00444-038-НВ</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="card">
                                                                <!-- Card Header - Accordion -->
                                                                <a href="#collapseCardExample" class="d-block card-header btn-light pr-3 pl-3 pt-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample">
                                                                    <h6 class="m-0">Выбор листа</h6>
                                                                </a>
                                                                <!-- Card Content - Collapse -->
                                                                <div class="collapse" id="collapseCardExample" style="">
                                                                    <div class="card-body">
                                                                        <div>
                                                                            <input type="checkbox" name="drawingCheckbox" value="1">
                                                                            <span>Лист 1</span>
                                                                        </div>
                                                                        <div>
                                                                            <input type="checkbox" name="drawingCheckbox" value="1">
                                                                            <span>Лист 2</span>
                                                                        </div>
                                                                        <div>
                                                                            <input type="checkbox" name="drawingCheckbox" value="1">
                                                                            <span>Лист 3</span>
                                                                        </div>
                                                                        <div>
                                                                            <input type="checkbox" name="drawingCheckbox" value="1">
                                                                            <span>Лист 4</span>
                                                                        </div>
                                                                        <div>
                                                                            <input type="checkbox" name="drawingCheckbox" value="1">
                                                                            <span>Лист 5</span>
                                                                        </div>
                                                                        <div>
                                                                            <input type="checkbox" name="drawingCheckbox" value="1">
                                                                            <span>Лист 6</span>
                                                                        </div>
                                                                        <div>
                                                                            <input type="checkbox" name="drawingCheckbox" value="1">
                                                                            <span>Лист 7</span>
                                                                        </div>
                                                                        <div>
                                                                            <input type="checkbox" name="drawingCheckbox" value="1">
                                                                            <span>Лист 8</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Левая часть формы-->
                                <div class="col-lg-5 mb-3 pl-2">
                                    <div class="card mb-4">
                                        <div class="card-body p-3 pr-5">
                                            <div class="form-group row mb-0 align-items-center">
                                                <label class="col-lg-2 text-center" for="nameScheme">Участок</label>
                                                <input class="col-lg-10 form-control" type="text" name="section">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h5 class="h5 mb-0">Объем выполненных работ</h5>
                                        </div>
                                        <div class="card-body p-3 pr-5">
                                            <div class="form-group row align-items-center">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Разработка грунта</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="soilDevelopment">
                                                            <label class="">м³</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Песчаное основание</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="sandyBase">
                                                            <label class="">м³</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Шурфовка</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="shoofing">
                                                            <label class="">м³</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Засыпка шурфовки</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="backfillingShoofing">
                                                            <label class="">м³</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Засыпка: песок</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="sand">
                                                            <label class="">м³</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Грунт</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="priming">
                                                            <label class="">м³</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Укладка трубопровода открытым способом</label>                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="layingPipeline">
                                                            <label class="">м</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Прокладка трубопровода методом ГНБ</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="layingPipelineGNB">
                                                            <label class="">м</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-body p-3 pr-5">
                                            <div class="form-group row align-items-top mb-0">
                                                <div class="col-lg-6">
                                                    <label class="mt-1">Применяемые материалы</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-6">

                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="card">
                                                                <select id="material" class="btn btn-light dropdown-toggle" name="material" onchange="">
                                                                    <option value="-">-</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Кнопки Отмена и Сохранить -->
                            <div class="d-flex justify-content-between mt-4 mt-0 mr-5 ml-5">
                                <a href="/materials-used-table" role="button" class="btn btn-light btn-icon-split">
                                    <span class="icon text-gray-600">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text">Отмена</span>
                                </a>

                                <button type="submit" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Обновить</span>
                                </button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- JavaScript для управления видимостью секций -->
<script src="js/new_abd_toggle.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>

</html>
