<div th:fragment="sidebar_extended" class="d-flex">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar_extended sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">ИТД Помощник</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Обзорная панель</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">Объекты</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item" th:each="itd : ${itdList}">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" th:data-target="'#collapseActivePages' + ${itd.number}"
               aria-expanded="false" aria-controls="collapsePages">
                <span th:text="'ИТД ' + ${itd.number}"></span>
            </a>
            <div th:id="'collapseActivePages' + ${itd.number}" class="collapse" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" th:href="'/passport-object-table/' + ${itd.id}">Паспорт объекта</a>
                    <a class="collapse-item" th:href="'/project-documentation-table/' + ${itd.id}">Проектная документация</a>
                    <a class="collapse-item" th:href="'/materials-used-table/' + ${itd.id}">Применяемые материалы</a>
                    <a class="collapse-item" th:href="'/executive-schemes-table/' + ${itd.id}">Исполнительные схемы</a>
                    <a class="collapse-item" th:href="'/protocols-gnb-table/' + ${itd.id}">Протоколы ГНБ</a>
                    <a class="collapse-item" th:href="'/acts-vic-table/' + ${itd.id}">Акты ВиК</a>
                    <a class="collapse-item" th:href="'/sealing-protocols-table/' + ${itd.id}">Протоколы уплотнения</a>
                    <a class="collapse-item" th:href="'/aosr-table/' + ${itd.id}">АОСР</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

    </ul>
</div>
