<div th:fragment="sidebar_extended" class="d-flex">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar_extended sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">ИТД Помощник</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/index">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Обзорная панель</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">Объекты</div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseActivePages"
               aria-expanded="true" aria-controls="collapsePages">
                <span>ИТД 1</span>
            </a>
            <div id="collapseActivePages" class="collapse show" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/passport-object-table">Паспорт объекта</a>
                    <a class="collapse-item" href="/project-documentation-table">Проектная документация</a>
                    <a class="collapse-item" href="/materials-used-table">Применяемые материалы</a>
                    <a class="collapse-item" href="/executive-schemes-table">Исполнительные схемы</a>
                    <a class="collapse-item" href="/protocols-gnb-table">Протоколы ГНБ</a>
                    <a class="collapse-item" href="/acts-vic-table">Акты ВиК</a>
                    <a class="collapse-item" href="/sealing-protocols-table">Протоколы уплотнения</a>
                    <a class="collapse-item" href="/aosr-table">АОСР</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

    </ul>
</div>
