*{
    margin: 0;
    box-sizing: border-box;
}

label{
    width: auto;
}

input{
    width: 60%;
}

div{
    width: 100%;
}

.form{
    margin-left: 15px;
    width: 98%;
}

form *{
    margin: 15px;
}

.form-container{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.small-container{
    background-color: #02818A;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 15px;
    color: antiquewhite;
}
.big-container{
    background-color: #02818A;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    color: antiquewhite;
    margin-bottom:  15px;
}
.big-container-2{
    background-color: #02818A;
    display: flex;
    justify-content: space-between;
    margin: 0;
    color: antiquewhite;
    Text-align: center

}
.big-container-2 input{
    width: auto;
}
.big-container-column{
    background-color: #02818A;
    margin: 0;
    color: antiquewhite;
}

.right-container{
    background-color: #02818A;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0;
    color: antiquewhite;
}
.right-container input{
    width: 40%;
}

