<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Добавление АОСР</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top" class="vsc-initialized">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar_extended :: sidebar_extended}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h2 mb-0 text-primary">АОСР</h1>
                </div>
                <hr>

                <div class="card shadow">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Добавление АОСР</h6>
                    </div>

                    <form th:action="'/aosr-add/' + ${itdData.id}" method="post">
                        <div class="card-body">
                            <div class="row justify-content-between mb-2">
                                <!-- Левая часть -->
                                <div class="col-lg-6 pl-3">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <label class="p-0">Приказ на представителя заказчика:</label>
                                            <select id="customerResponsibleSelect" name="customerResponsibleSelect"
                                                    class="form-control">
                                                <option value="-1">---</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <label class="p-0">Приказ на представителя подрядчика:</label>
                                            <select id="subcustomerResponsibleSelect"
                                                    name="subcustomerResponsibleSelect"
                                                    class="form-control">
                                                <option value="-1">---</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <label class="p-0">Приказ на представителя проектировщика:</label>
                                            <select id="designerResponsibleSelect" name="designerResponsibleSelect"
                                                    class="form-control">
                                                <option value="-1">---</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <label class="p-0">К освидетельствованию предъявлены следующие
                                                работы:</label>
                                            <select id="work1" name="work1" class="form-control" onchange="addSelect()">
                                                <option value="Бестраншейная прокладка методом ГНБ полиэтиленового трубопровода">
                                                    Бестраншейная прокладка методом ГНБ полиэтиленового трубопровода
                                                </option>
                                                <option value="Бестраншейная прокладка методом ГНБ стального трубопровода">
                                                    Бестраншейная прокладка методом ГНБ стального трубопровода
                                                </option>
                                                <option value="Бестраншейная прокладка полиэтиленового трубопровода с протаскиванием в футляр методом ГНБ">
                                                    Бестраншейная прокладка полиэтиленового трубопровода с
                                                    протаскиванием в футляр методом ГНБ
                                                </option>
                                                <option value="Бестраншейная прокладка стального трубопровода с протаскиванием в футляр методом ГНБ">
                                                    Бестраншейная прокладка стального трубопровода с протаскиванием в
                                                    футляр методом ГНБ
                                                </option>
                                                <option value="Герметизация мест прохода полиэтиленового трубопровода через стенки колодца">
                                                    Герметизация мест прохода полиэтиленового трубопровода через стенки
                                                    колодца
                                                </option>
                                                <option value="Герметизация мест прохода стального через стенки колодца">
                                                    Герметизация мест прохода стального через стенки колодца
                                                </option>
                                                <option value="Демонтаж">Демонтаж</option>
                                                <option value="Заделка концов футляра">Заделка концов футляра</option>
                                                <option value="Механизированная разработка грунта">Механизированная
                                                    разработка грунта
                                                </option>
                                                <option value="Механизированная разработка грунта и шурфовка на наличие существующих сетей">
                                                    Механизированная разработка грунта и шурфовка на наличие
                                                    существующих сетей
                                                </option>
                                                <option value="Монтаж днища и рабочей части сборного железобетонного колодца">
                                                    Монтаж днища и рабочей части сборного железобетонного колодца
                                                </option>
                                                <option value="Монтаж колонок управления задвижками">Монтаж колонок
                                                    управления задвижками
                                                </option>
                                                <option value="Монтаж опор под пожарные гидранты">Монтаж опор под
                                                    пожарные гидранты
                                                </option>
                                                <option value="Монтаж плиты перекрытия и горловины сборного железобетонного колодца">
                                                    Монтаж плиты перекрытия и горловины сборного железобетонного колодца
                                                </option>
                                                <option value="Монтаж стремянок">Монтаж стремянок</option>
                                                <option value="Нанесение антикоррозийной изоляции лентами поливинилхлоридными липкими в три слоя по слою праймера битумного на стальной трубопровод">
                                                    Нанесение антикоррозийной изоляции лентами поливинилхлоридными
                                                    липкими в три слоя по слою праймера битумного на стальной
                                                    трубопровод
                                                </option>
                                                <option value="Обратная засыпка грунтом">Обратная засыпка грунтом
                                                </option>
                                                <option value="Обратная засыпка грунтом мест шурфовок">Обратная засыпка
                                                    грунтом мест шурфовок
                                                </option>
                                                <option value="Огрунтовка за один раз металлических поверхностей">
                                                    Огрунтовка за один раз металлических поверхностей
                                                </option>
                                                <option value="Окраска в два слоя металлических огрунтованных поверхностей">
                                                    Окраска в два слоя металлических огрунтованных поверхностей
                                                </option>
                                                <option value="Подготовка под изоляцию (очистка, обеспыливание, обезжиривание) металлических поверхностей">
                                                    Подготовка под изоляцию (очистка, обеспыливание, обезжиривание)
                                                    металлических поверхностей
                                                </option>
                                                <option value="Сварка и укладка на песчаное основание полиэтиленового трубопровода с фасонными частями">
                                                    Сварка и укладка на песчаное основание полиэтиленового трубопровода
                                                    с фасонными частями
                                                </option>
                                                <option value="Сварка и укладка на песчаное основание стального трубопровода с фасонными частями">
                                                    Сварка и укладка на песчаное основание стального трубопровода с
                                                    фасонными частями
                                                </option>
                                                <option value="Сварка полиэтиленового трубопровода в плеть">Сварка
                                                    полиэтиленового трубопровода в плеть
                                                </option>
                                                <option value="Сварка полиэтиленового трубопровода и фасонных частей">
                                                    Сварка полиэтиленового трубопровода и фасонных частей
                                                </option>
                                                <option value="Сварка полиэтиленового трубопровода и фасонных частей, монтаж запорной арматуры в колодце">
                                                    Сварка полиэтиленового трубопровода и фасонных частей, монтаж
                                                    запорной арматуры в колодце
                                                </option>
                                                <option value="Сварка полиэтиленового трубопровода и фасонных частей, монтаж пожарного гидранта в колодце">
                                                    Сварка полиэтиленового трубопровода и фасонных частей, монтаж
                                                    пожарного гидранта в колодце
                                                </option>
                                                <option value="Сварка стального трубопровода в плеть">Сварка стального
                                                    трубопровода в плеть
                                                </option>
                                                <option value="Сварка стального трубопровода и фасонных частей">Сварка
                                                    стального трубопровода и фасонных частей
                                                </option>
                                                <option value="Сварка стального трубопровода и фасонных частей, монтаж запорной арматуры в колодце">
                                                    Сварка стального трубопровода и фасонных частей, монтаж запорной
                                                    арматуры в колодце
                                                </option>
                                                <option value="Сварка стального трубопровода и фасонных частей, монтаж пожарного гидранта в колодце">
                                                    Сварка стального трубопровода и фасонных частей, монтаж пожарного
                                                    гидранта в колодце
                                                </option>
                                                <option value="Сварка трубопровода с помощью электромуфты">Сварка
                                                    трубопровода с помощью электромуфты
                                                </option>
                                                <option value="Устройство врезки в существующий полиэтиленовый трубопровод">
                                                    Устройство врезки в существующий полиэтиленовый трубопровод
                                                </option>
                                                <option value="Устройство врезки в существующий стальной трубопровод">
                                                    Устройство врезки в существующий стальной трубопровод
                                                </option>
                                                <option value="Устройство над трубопроводом защитного слоя из песка и обратная засыпка грунтом">
                                                    Устройство над трубопроводом защитного слоя из песка и обратная
                                                    засыпка грунтом
                                                </option>
                                                <option value="Устройство оклеечной гидроизоляции стеклоизолом в два слоя по слою праймера битумного наружной поверхности колодца, а также мест стыковок железобетонных элементов колодца">
                                                    Устройство оклеечной гидроизоляции стеклоизолом в два слоя по слою
                                                    праймера битумного наружной поверхности колодца, а также мест
                                                    стыковок железобетонных элементов колодца
                                                </option>
                                                <option value="Устройство песчаного основания под колодец">Устройство
                                                    песчаного основания под колодец
                                                </option>
                                                <option value="Устройство песчаного основания под трубопровод">
                                                    Устройство песчаного основания под трубопровод
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <label class="p-0">Исполнительная схема:</label>
                                            <select id="execSchemSelect" name="execSchemSelect" class="form-control">
                                                <option th:each="data : ${executiveSchemesList}" th:value="${data.id}"
                                                        th:text="${data.section != null && !data.section.isEmpty() ? data.nameScheme + ' на участке ' + data.section : data.nameScheme}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <a href="#collapseCardActVik"
                                           class="d-block card-header pr-3 pl-3 pt-3 collapsed" data-toggle="collapse"
                                           role="button" aria-expanded="false" aria-controls="collapseCardActVik">
                                            <h6 class="m-0 text-secondary">Акты ВиК:</h6>
                                        </a>
                                        <!-- Card Content - Collapse -->
                                        <div class="collapse" id="collapseCardActVik" style="">
                                            <div class="card-body">
                                                <div th:each="act : ${actsViCList}">
                                                    <input class="mx-1" type='checkbox' th:value="${act.id}"
                                                           th:name="'actViCCheckbox' + ${act.id}"
                                                           th:text="'Акт ВиК № ' + ${act.numberActViC} + ' от ' + ${act.dataActViC} + ' г.'">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <label class="p-0">Протокол ГНБ:</label>
                                            <select id="protocolGnbSelect" name="protocolGnbSelect"
                                                    class="form-control">
                                                <option value="-1">---</option>
                                                <option value="1">Протокол ГНБ № 1 от 02.05.2024 г.</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <label class="p-0">Протокол уплотнения:</label>
                                            <select id="sealingProtocolSelect" name="sealingProtocolSelect"
                                                    class="form-control">
                                                <option value="-1">---</option>
                                                <option value="1">Протокол уплотнения № CL/CRM-0001-734 от 02.08.2024
                                                    г.
                                                </option>
                                                <option value="2">Протокол уплотнения № CL/CRM-0007-623 от 13.12.2012
                                                    г.
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                                <!-- Правая часть -->
                                <div class="col-lg-6 pr-3 pl-3">

                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <label class="p-0">Приказ на представителя подрядчика по вопросам
                                                строительного контроля:</label>
                                            <select id="subcustomerResponsible2Select"
                                                    name="subcustomerResponsible2Select"
                                                    class="form-control">
                                                <option value="-1">---</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <label class="p-0">Приказ на представителя иного лица:</label>
                                            <select id="anotherPersonResponsibleSelect"
                                                    name="anotherPersonResponsibleSelect"
                                                    class="form-control">
                                                <option value="-1">---</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <label>Номер АОСР:</label>
                                            <input name="number" class="form-control" placeholder="Номер акта" required>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h5 class="h5 mb-0">Даты:</h5>
                                            <!-- Строки с датами: начало работ -->
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Начало работ:</label>
                                                <div class="col-lg-8 d-flex justify-content-between align-items-center">
                                                    <input type="text" name="dateStart" placeholder="ДД.ММ.ГГГГ"
                                                           class="form-control mr-2" required>
                                                </div>
                                            </div>
                                            <!-- Строки с датами: окончание работ -->
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Окончание работ:</label>
                                                <div class="col-lg-8 d-flex justify-content-between align-items-center">
                                                    <input type="text" name="dateEnd" placeholder="ДД.ММ.ГГГГ"
                                                           class="form-control mr-2" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <label class="p-0 mb-3">Работы выполнены по проектной документации:</label>
                                            <div id="projectSectionContainer">
                                                <div id="projectSectionRow1" class="row mb-2">
                                                    <div class="col-lg-5 pt-1 pb-1">
                                                        <div class="card ml-4 mr-4">
                                                            <select name="projectSectionSelect1"
                                                                    class="btn btn-light dropdown-toggle text-left pb-2 pt-2">
                                                                <option th:each="data : ${projectDocumentationList}"
                                                                        th:value="${data.id}"><span
                                                                        th:text="${data.projectSection}"></span>
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="card">
                                                            <!-- Card Header - Accordion -->
                                                            <a href="#collapseCardDrawings1"
                                                               class="d-block card-header btn-light pr-3 pl-3 pt-3 collapsed"
                                                               data-toggle="collapse" role="button"
                                                               aria-expanded="false"
                                                               aria-controls="collapseCardDrawings1">
                                                                <h6 class="m-0">Выбор чертежей</h6>
                                                            </a>
                                                            <!-- Card Content - Collapse -->
                                                            <div class="collapse" id="collapseCardDrawings1" style="">
                                                                <div class="card-body">
                                                                    <div th:each="drawing : ${drawingsList}">
                                                                        <input type="checkbox"
                                                                               th:name="'drawingCheckbox' + ${drawing.id} + '-1'"
                                                                               th:value="${drawing.projDocToDrawings.id}">
                                                                        <span th:text="${drawing.drawing}"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 mt-2">
                                                        <button type="button" onclick="removeDiv(this)"
                                                                class="btn btn-danger border-white btn-icon-split me-5">
                                                            <span class="icon text-white-50">
                                                                <i class="fas fa-trash"></i>
                                                            </span>
                                                            <span class="text">Удалить</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div th:each="formData : ${aosrFormData}"
                                                     th:id="'projectSectionRow' + ${formData}">
                                                    <input type="hidden" th:name="'projectSectionHidden' + ${formData}"
                                                           th:value="${formData}">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <select class="btn btn-light dropdown-toggle"
                                                                    th:name="'projectSectionSelect' + ${formData}">
                                                                <option th:each="data : ${projectDocumentationList}"
                                                                        th:value="${data.id}"
                                                                        th:text="${data.projectSection}"></option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="card">
                                                                <!-- Card Header - Accordion -->
                                                                <a th:href="'#collapseCardDrawings' + ${formData}"
                                                                   class="d-block card-header btn-light pr-3 pl-3 pt-3 collapsed"
                                                                   data-toggle="collapse" role="button"
                                                                   aria-expanded="false"
                                                                   th:aria-controls="'collapseCardDrawings' + ${formData}">
                                                                    <h6 class="m-0">Выбор чертежей</h6>
                                                                </a>
                                                                <!-- Card Content - Collapse -->
                                                                <div class="collapse"
                                                                     th:id="'collapseCardDrawings' + ${formData}"
                                                                     style="">
                                                                    <div class="card-body">
                                                                        <div th:each="drawing : ${drawingsList}">
                                                                            <input type="checkbox"
                                                                                   th:name="'drawingCheckbox' + ${drawing.id} + '-' + ${formData}"
                                                                                   th:value="${drawing.projDocToDrawings.projectSection}">
                                                                            <span th:text="${drawing.drawing}"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 pt-1">
                                                        <button type="button" onclick="removeDiv(this)"
                                                                class="btn btn-danger btn-icon-split border-white me-5">
                                                            <span class="icon text-white-50">
                                                                <i class="fas fa-trash"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <button type="button"
                                                        class="btn btn-primary border-white btn-icon-split mt-3 me-5"
                                                        onclick="addProjectSection()">
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    <span class="text">Добавить раздел</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <label>Разрешается производство последующих работ:</label>
                                            <select id="work2" name="work2" class="form-control" required="">
                                                <option>Монтаж полиэтиленовых фасонных частей трубопровода</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <label class="p-0">При выполнении работ применены:</label>
                                            <div class="row">
                                                <div class="col-lg-9">
                                                    <input class="form-control mb-3" type="text" id="searchInput"
                                                           name="query"
                                                           placeholder="Введите название материала">
                                                    <input type="hidden" name="sourcePage" value="aosrAdd">
                                                    <div th:each="selMaterial : ${selectedMaterialsList}"
                                                         class="col-lg-12 mb-2">
                                                        <input type="checkbox" checked="checked"
                                                               th:name="'selectedMaterials' + ${selMaterial.id}"
                                                               th:value="${selMaterial.id}"
                                                               th:text="${selMaterial.nameMaterial} + '. ' + ${selMaterial.accompanyingDocuments[0].name} + ' № ' + ${selMaterial.accompanyingDocuments[0].number} + ' от ' + ${selMaterial.accompanyingDocuments[0].date} + ' г.'">
                                                    </div>
                                                    <div id="searchResults" th:if="${foundMaterialsList}"
                                                         class="col-lg-12">
                                                        <div th:each="foundMaterial : ${foundMaterialsList}">
                                                            <input type="checkbox"
                                                                   th:name="'selectedMaterials' + ${foundMaterial.id}"
                                                                   th:value="${foundMaterial.id}"
                                                                   th:text="${foundMaterial.nameMaterial} + ' - ' + ${foundMaterial.accompanyingDocuments[0].name} + ' № ' + ${foundMaterial.accompanyingDocuments[0].number} + ' от ' + ${foundMaterial.accompanyingDocuments[0].date} + ' г.'">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <button type="submit"
                                                            th:formaction="'/aosr-search-materials/' + ${itdData.id}"
                                                            formmethod="get" onclick="saveInputData()"
                                                            class="btn btn-primary btn-icon-split border-white ml-3">
                                                        <span class="icon text-white-50">
                                                            <i class="fas fa-search"></i>
                                                        </span>
                                                        <span class="text">Искать</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Кнопки Отмена и Сохранить -->
                            <div class="d-flex justify-content-between mt-4 mr-5 ml-5">
                                <a th:href="'/aosr-table/' + ${itdData.id}" role="button"
                                   class="btn btn-light btn-icon-split" onclick="clearInputData()">
                                    <span class="icon text-gray-600">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text">Отмена</span>
                                </a>
                                <button type="submit" class="btn btn-success btn-icon-split" onclick="clearInputData()">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Сохранить</span>
                                </button>
                            </div>
                        </div>
                    </form>


                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<script th:src="@{/js/aosrAdd.js}"></script>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>