<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Добавить исполнительную схему</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body id="page-top" class="vsc-initialized">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar_extended :: sidebar_extended}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h2 mb-0 text-primary">Исполнительные схемы</h1>
                </div>
                <hr>

                <div class="card shadow">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Добавление исполнительной схемы</h6>
                    </div>

                    <div class="card-body">
                        <form th:action="'/executive-schemes-add/' + ${itdData.id}" method="post">
                            <div class="row mb-4">
                                <!-- Правая часть формы-->
                                <div class="col-lg-7 mb-3 pr-2">
                                    <div class="card mb-4">
                                        <div class="card-body p-3 pr-5">
                                            <div class="form-group row mb-0 align-items-center">
                                                <label class="col-lg-5 text-center">Название исполнительной
                                                    схемы</label>
                                                <input class="col-lg-7 form-control" type="text" name="nameScheme">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h5 class="h5 mb-0">Координаты зоны работ</h5>
                                        </div>
                                        <div class="card-body p-3 pr-5">
                                            <div class="form-group row align-items-center">
                                                <div class="col-lg-4">
                                                    <label>Минимальная координата</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div>
                                                        <label class="">X =</label>
                                                        <input type="text" class="" name="startCoordinateX">
                                                    </div>
                                                    <div>
                                                        <label class="">Y =</label>
                                                        <input type="text" class="" name="startCoordinateY">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <div class="col-lg-4">
                                                    <label>Максимальная координата</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div>
                                                        <label class="">X =</label>
                                                        <input type="text" class="" name="endCoordinateX">
                                                    </div>
                                                    <div>
                                                        <label class="">Y =</label>
                                                        <input type="text" class="" name="endCoordinateY">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <div class="col-lg-4">
                                                    <label>Центр колодца</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div>
                                                        <label class="">X =</label>
                                                        <input type="text" class="" name="wellCenterX">
                                                    </div>
                                                    <div>
                                                        <label class="">Y =</label>
                                                        <input type="text" class="" name="wellCenterY">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row align-items-center">
                                                <div class="col-lg-4">
                                                    <label>Отметки выполненных работ</label>
                                                </div>
                                                <div class="col-lg-8">
                                                    <div>
                                                        <label class="">начальная отметка</label>
                                                        <input type="text" class="" name="startingPoint">
                                                    </div>
                                                    <div>
                                                        <label class="">конечная отметка</label>
                                                        <input type="text" class="" name="endingPoint">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-body p-3 pr-5">
                                            <div class="form-group row align-items-top mb-0">
                                                <div class="col-lg-6">
                                                    <label class="mt-1">Раздел проекта, номер чертежа, по которым
                                                        выполнены работы</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-6">
                                                            <select class="btn btn-light dropdown-toggle"
                                                                    id="projectSectionSelect"
                                                                    name="projectSectionSelect">
                                                                <option th:each="data : ${projectDocumentationList}"
                                                                        th:value="${data.projectSection}"
                                                                        th:text="${data.projectSection}"></option>
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="card">
                                                                <!-- Card Header - Accordion -->
                                                                <a href="#collapseCardExample"
                                                                   class="d-block card-header btn-light pr-3 pl-3 pt-3 collapsed"
                                                                   data-toggle="collapse" role="button"
                                                                   aria-expanded="false"
                                                                   aria-controls="collapseCardExample">
                                                                    <h6 class="m-0">Выбор чертежей</h6>
                                                                </a>
                                                                <!-- Card Content - Collapse -->
                                                                <div class="collapse" id="collapseCardExample" style="">
                                                                    <div class="card-body">
                                                                        <div th:each="drawing : ${drawingsList}">
                                                                            <input type="checkbox"
                                                                                   th:name="'drawingCheckbox' + ${drawing.id}"
                                                                                   th:value="${drawing.projDocToDrawings.projectSection}">
                                                                            <span th:text="${drawing.drawing}"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Левая часть формы-->
                                <div class="col-lg-5 mb-3 pl-2">
                                    <div class="card mb-4">
                                        <div class="card-body p-3 pr-5">
                                            <div class="form-group row mb-0 align-items-center">
                                                <label class="col-lg-2 text-center">Участок</label>
                                                <input class="col-lg-10 form-control" type="text" name="section">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-header">
                                            <h5 class="h5 mb-0">Объем выполненных работ</h5>
                                        </div>
                                        <div class="card-body p-3 pr-5">
                                            <div class="form-group row align-items-center">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Разработка грунта</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="soilDevelopment">
                                                            <label class="">м³</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Песчаное основание</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="sandyBase">
                                                            <label class="">м³</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Шурфовка</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="shoofing">
                                                            <label class="">м³</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Засыпка шурфовки</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="backfillingShoofing">
                                                            <label class="">м³</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Засыпка: песок</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="sand">
                                                            <label class="">м³</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Грунт</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="priming">
                                                            <label class="">м³</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Укладка трубопровода открытым
                                                                способом</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="layingPipeline">
                                                            <label class="">м</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <label class="">Прокладка трубопровода методом ГНБ</label>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <input type="text" class="" name="layingPipelineGNB">
                                                            <label class="">м</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-body p-3 pr-5">
                                            <div class="form-group row align-items-top mb-0">
                                                <div class="col-lg-6">
                                                    <label class="mt-1">Применяемые материалы</label>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-6">
                                                            <div>
                                                                <input class="w-50" type="text" id="searchInput" name="query"
                                                                       placeholder="Введите название материала">
                                                                <input type="hidden" name="sourcePage" value="executiveSchemesAdd">
                                                                <button type="submit" th:formaction="'/exec-search-materials/' + ${itdData.id}" formmethod="get" onclick="saveInputData()"
                                                                        class="btn btn-success border-white ms-5">Искать
                                                                </button>
                                                            </div>
                                                            <div th:each="selMaterial : ${selectedMaterialsList}">
                                                                <input type="checkbox" checked="checked" th:name="'selectedMaterials' + ${selMaterial.id}" th:value="${selMaterial.id}"
                                                                       th:text="${selMaterial.nameMaterial} + '. ' + ${selMaterial.accompanyingDocuments[0].name} + ' № ' + ${selMaterial.accompanyingDocuments[0].number} + ' от ' + ${selMaterial.accompanyingDocuments[0].date} + ' г.'">
                                                            </div>
                                                            <div id="searchResults" th:if="${foundMaterialsList}">
                                                                <div th:each="foundMaterial : ${foundMaterialsList}">
                                                                    <input type="checkbox" th:name="'selectedMaterials' + ${foundMaterial.id}" th:value="${foundMaterial.id}"
                                                                           th:text="${foundMaterial.nameMaterial} + ' - ' + ${foundMaterial.accompanyingDocuments[0].name} + ' № ' + ${foundMaterial.accompanyingDocuments[0].number} + ' от ' + ${foundMaterial.accompanyingDocuments[0].date} + ' г.'">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Кнопки Отмена и Сохранить -->
                            <div class="d-flex justify-content-between mt-4 mt-0 mr-5 ml-5">
                                <a th:href="'/executive-schemes-table/' + ${itdData.id}" role="button" class="btn btn-light btn-icon-split" onclick="clearInputData()">
                                    <span class="icon text-gray-600">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text">Отмена</span>
                                </a>

                                <button type="submit" class="btn btn-success btn-icon-split" onclick="clearInputData()">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Сохранить</span>
                                </button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<script th:src="@{/js/executiveSchemes.js}"></script>

</body>

</html>
