<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Главная страница</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top" class="vsc-initialized">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar_extended :: sidebar_extended}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h2 mb-0 text-primary">Объекты</h1>
                    <a href="/passport-object-add" type="button" onclick="btnClick()" id="btn"
                       class="d-none d-sm-inline-block btn btn-info btn-icon-split shadow-sm">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Создать новую ИТД</span>
                    </a>
                </div>
                <hr>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4" th:each="itd : ${itdList}">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="row align-items-center">
                                            <div class="col-xl-7 text-lg font-weight-bold text-primary text-uppercase mb-1">
                                                <a th:href="'index/' + ${itd.id} + '/itd-info'" th:text="'ИТД ' + ${itd.name}"></a>
                                            </div>
                                            <div class="col-xl-5 h6 mb-0 font-weight-bold text-primary text-right">В
                                                работе
                                            </div>
                                        </div>
                                        <hr class="my-2">
                                        <div class="row">
                                            <div class="col-xl-8 h6 mb-0 font-weight-bold text-gray-800" th:text="${itd.passportObjectData.projectCode}"></div>
                                            <div class="col-xl-4 h6 mb-0 font-weight-bold text-gray-800" th:text="${itd.formattedDateTime}">></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-8 text-md mb-0 font-weight-bold text-gray-800">
                                                Ответственный инженер ПТО:
                                            </div>
                                            <div class="col-xl-4 text-md mb-0 font-weight-bold text-gray-800" th:text="${userData.fullname}"></div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <!--                    <div class="col-xl-3 col-md-6 mb-4">-->
                    <!--                        <div class="card border-left-success shadow h-100 py-2">-->
                    <!--                            <div class="card-body">-->
                    <!--                                <div class="row no-gutters align-items-center">-->
                    <!--                                    <div class="col mr-2">-->
                    <!--                                        <div class="row align-items-center">-->
                    <!--                                            <div class="col-xl-7 text-lg font-weight-bold text-success text-uppercase mb-1">-->
                    <!--                                                ИТД 2-->
                    <!--                                            </div>-->
                    <!--                                            <div class="col-xl-5 h6 mb-0 font-weight-bold text-success text-right">В-->
                    <!--                                                архиве-->
                    <!--                                            </div>-->
                    <!--                                        </div>-->
                    <!--                                        <hr class="my-2">-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-xl-8 h6 mb-0 font-weight-bold text-gray-800">00444-038-НВ-->
                    <!--                                            </div>-->
                    <!--                                            <div class="col-xl-4 h6 mb-0 font-weight-bold text-gray-800">2024</div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-xl-8 text-md mb-0 font-weight-bold text-gray-800">-->
                    <!--                                                Ответственный инженер ПТО:-->
                    <!--                                            </div>-->
                    <!--                                            <div class="col-xl-4 text-md mb-0 font-weight-bold text-gray-800">Лудова-->
                    <!--                                                О.М.-->
                    <!--                                            </div>-->
                    <!--                                        </div>-->

                    <!--                                    </div>-->

                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!-- Earnings (Monthly) Card Example -->
                    <!--                    <div class="col-xl-3 col-md-6 mb-4">-->
                    <!--                        <div class="card border-left-warning shadow h-100 py-2">-->
                    <!--                            <div class="card-body">-->
                    <!--                                <div class="row no-gutters align-items-center">-->
                    <!--                                    <div class="col mr-2">-->
                    <!--                                        <div class="row align-items-center">-->
                    <!--                                            <div class="col-xl-7 text-lg font-weight-bold text-warning text-uppercase mb-1">-->
                    <!--                                                ИТД 3-->
                    <!--                                            </div>-->
                    <!--                                            <div class="col-xl-5 h6 mb-0 font-weight-bold text-warning text-right">На-->
                    <!--                                                проверке-->
                    <!--                                            </div>-->
                    <!--                                        </div>-->
                    <!--                                        <hr class="my-2">-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-xl-8 h6 mb-0 font-weight-bold text-gray-800">00444-038-НВ-->
                    <!--                                            </div>-->
                    <!--                                            <div class="col-xl-4 h6 mb-0 font-weight-bold text-gray-800">2024</div>-->
                    <!--                                        </div>-->
                    <!--                                        <div class="row">-->
                    <!--                                            <div class="col-xl-8 text-md mb-0 font-weight-bold text-gray-800">-->
                    <!--                                                Ответственный инженер ПТО:-->
                    <!--                                            </div>-->
                    <!--                                            <div class="col-xl-4 text-md mb-0 font-weight-bold text-gray-800">Лудова-->
                    <!--                                                О.М.-->
                    <!--                                            </div>-->
                    <!--                                        </div>-->

                    <!--                                    </div>-->

                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                </div>

                <!-- Content Row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top" style="display: none;">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div th:replace="~{fragments/logout :: logout}"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

</body>

</html>