<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<h1 id="headerText" hidden>Главная страница</h1>
<header th:insert="blocks/header :: header"></header>
<div class="text-white">
    <a th:href="@{/itd-checkbox}" th:if="${#authentication.principal.authorities.?[authority == 'USER'].size() > 0}"
       role="button" class="bg-primary btn border-white mt-3 ms-5">Создать новую ИТД</a>
</div>
</body>
</html>