<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <script src="../static/staticFiles/index.js" th:src="@{/staticFiles/index.js}" type="text/javascript"></script>
    <link href="../static/staticFiles/bootstrap.css" th:href="@{/staticFiles/bootstrap.css}" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<h1 id="headerText" hidden>Главная страница</h1>
<header th:insert="blocks/header :: header"></header>
<div class="text-white">
    <button class="bg-primary btn border-white mt-3 ms-5" type="button" onclick="btnClick()" id="btn"
            th:if="${#authentication.principal.authorities.?[authority == 'USER'].size() > 0}">Создать новую ИТД
    </button>
</div>
<div id="itdContainer" hidden>
    <div class="m-2 p-2 bg-success d-flex justify-content-between text-white">
        <form action="/index" method="post">
            <div class="m-2 p-2 bg-success d-flex justify-content-start">
                <label class="w-auto">Отметьте, какие документы войдут в ИТД</label>
            </div>
            <div class="m-2 p-2 bg-success d-flex justify-content-start">
                <label class="w-auto">Перечень ИТД</label>
            </div>
            <div class="m-2 p-2 bg-success d-flex justify-content-start">
                <input class="mx-1" type="checkbox" name="itdCheckbox" value="Реестр ИТД">
                <label>Реестр ИТД</label>
            </div>
            <div class="m-2 p-2 bg-success d-flex justify-content-start">
                <input class="mx-1" type="checkbox" name="itdCheckbox" value="АОСР">
                <label class="w-auto">АОСР</label>
            </div>
            <div class="m-2 p-2 bg-success d-flex justify-content-start">
                <input class="mx-1" type="checkbox" name="itdCheckbox" value="ОЖР">
                <label class="w-auto">ОЖР</label>
            </div>
            <div class="m-2 p-2 bg-success d-flex justify-content-start">
                <input class="mx-1" type="checkbox" name="itdCheckbox" value="ЖЗР">
                <label class="w-auto">ЖЗР</label>
            </div>
            <div class="m-2 p-2 bg-success d-flex justify-content-start">
                <input class="mx-1" type="checkbox" name="itdCheckbox" value="ЖСР ПЭ">
                <label class="w-auto">ЖСР ПЭ</label>
            </div>
            <div class="m-2 p-2 bg-success d-flex justify-content-start">
                <input class="mx-1" type="checkbox" name="itdCheckbox" value="ЖСР СТ">
                <label class="w-auto">ЖСР СТ</label>
            </div>
            <div class="m-2 p-2 bg-success d-flex justify-content-start">
                <input class="mx-1" type="checkbox" name="itdCheckbox" value="ЖАКР">
                <label class="w-auto">ЖАКР</label>
            </div>
            <div class="m-2 p-2 bg-success d-flex justify-content-start">
                <input class="mx-1" type="checkbox" name="itdCheckbox" value="ЖБР">
                <label class="w-auto">ЖБР</label>
            </div>
            <div class="text-white">
                <button type="submit" class="btn btn-succcess border-white ms-5">Сохранить</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>