<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Добавление наименования работ из других ИТД</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top" class="vsc-initialized">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h2 mb-0 text-primary">Наименование работ</h1>
                </div>
                <hr>

                <div class="card shadow">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Добавление наименования работ</h6>
                    </div>

                    <form th:action="'/name-works-add-from-itd/' + ${itdData.id}" method="post">
                            <div th:each="itd : ${itdList}" class="" th:if="${!itd.nameWorksData.isEmpty() and itd.id != itdData.id}" th:id="'itd' + ${itd.name}">
                                <h3 th:text="'ИТД ' + ${itd.name}"></h3>
                                <button type="button" class="btn btn-outline-primary"
                                        th:data-id="'itd' + ${itd.name}"
                                        onclick="selectButton(this.getAttribute('data-id'))">Выбрать все
                                </button>
                                <div th:each="nameWorks : ${itd.nameWorksData}" class="">
                                    <div class="">
                                        <label class="">Наименование работ</label>
                                    </div>
                                    <div class="">
                                        <input type="checkbox" th:name="'nameWorks' + ${nameWorks.id}"
                                               th:value="${nameWorks.id}" class="form-control">
                                        <span th:text="${nameWorks.name}"></span>
                                    </div>
                                    <div class="">
                                        <label class="">Нормативка</label>
                                    </div>
                                    <div class="" th:each="normative : ${nameWorks.normativeList}">
                                        <span th:text="${normative.name}" class="form-control"></span>
                                    </div>
                                    <div class="">
                                        <label class="">Наименование последующей работы</label>
                                    </div>
                                    <div class="" th:each="nextNameWorks : ${nameWorks.nextNameWorksList}">
                                        <span th:text="${nextNameWorks.name}" class="form-control"></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Кнопки Отмена и Сохранить -->
                            <div class="d-flex justify-content-between mt-4 mt-0 mr-5 ml-5">
                                <a th:href="'/name-works-table/' + ${itdData.id}" role="button"
                                   class="btn btn-light btn-icon-split">
                                    <span class="icon text-gray-600">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text">Отмена</span>
                                </a>

                                <button type="submit" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Добавить</span>
                                </button>
                            </div>
                    </form>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script th:src="@{/js/selectButton.js}"></script>
</body>

</html>