<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Паспорт объекта</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top" class="vsc-initialized">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h2 mb-0 text-primary">Паспорт объекта</h1>
                    <a th:href="'/passport-object-table/' + ${itdData.id} + '/passport-object-edit/' + ${passportObject.id}" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Редактировать</span>
                    </a>
                </div>

                <div class="card shadow">
                    <div class="card-header">
                        <!-- Section navigation (optional) -->
                        <div class="d-flex align-items-center justify-content-between">
                            <div>
                                <button type="button" class="btn btn-outline-primary"
                                        onclick="toggleSection('section-general')">Общее
                                </button>
                                <button type="button" class="btn btn-outline-primary"
                                        onclick="toggleSection('section-customer')">Заказчик
                                </button>
                                <button type="button" class="btn btn-outline-primary"
                                        onclick="toggleSection('section-contractor')">Подрядчик
                                </button>
                                <button type="button" class="btn btn-outline-primary"
                                        onclick="toggleSection('section-designer')">Проектировщик
                                </button>
                            </div>
                            <div>
                                <a th:href="'/index/' + ${itdData.id} + '/itd-info'" class="btn btn-info btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text">Перейти к ИТД</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <!-- General Information Section -->
                        <div id="section-general" class="form-section">
                            <h4 class="h4 mb-0 text-gray-800">Общие сведения об объекте</h4>
                            <hr>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">Наименование объекта:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.nameObject}"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">Адрес объекта:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.addressObject}"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">Шифр объекта:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.projectCode}"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">Наименование сети:</label>
                                <div class="col-sm-8" th:each="networkName : ${networkName}">
                                    <p th:text="${networkName}"></p>
                                </div>
                            </div>
                        </div>

                        <!-- Customer Section -->
                        <div id="section-customer" class="form-section" style="display:none;">
                            <h4 class="h4 mb-0 text-gray-800">Заказчик</h4>
                            <hr>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">Наименование заказчика:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.nameCustomer}"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">ОГРН заказчика:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.ogrnCustomer}"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">ИНН заказчика:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.innCustomer}"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">Адрес заказчика:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.addressCustomer}"></p>
                                </div>
                            </div>
                        </div>

                        <!-- Contractor Section -->
                        <div id="section-contractor" class="form-section" style="display:none;">
                            <h4 class="h4 mb-0 text-gray-800">Подрядчик</h4>
                            <hr>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">Наименование подрядчика:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.nameContractor}"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">ОГРН подрядчика:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.ogrnContractor}"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">ИНН подрядчика:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.innContractor}"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">Адрес подрядчика:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.addressContractor}"></p>
                                </div>
                            </div>
                        </div>

                        <!-- Designer Section -->
                        <div id="section-designer" class="form-section" style="display:none;">
                            <h4 class="h4 mb-0 text-gray-800">Проектировщик</h4>
                            <hr>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">Наименование проектировщика:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.nameDesigner}"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">ОГРН проектировщика:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.ogrnDesigner}"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">ИНН проектировщика:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.innDesigner}"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 font-weight-bold">Адрес подрядчика:</label>
                                <div class="col-sm-8">
                                    <p th:text="${passportObject.addressDesigner}"></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<script th:src="@{/js/toggleSection.js}"></script>
<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>
