<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Добавление ИТД</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top" class="vsc-initialized">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h2 mb-0 text-primary">Создание новой ИТД</h1>
                </div>

                <div class="card shadow">
                    <div class="card-header">
                        <!-- Buttons to toggle sections -->
                        <div class="d-flex justify-content-between">
                            <div>
                                <button type="button" class="btn btn-outline-primary"
                                        onclick="toggleSection('section-general')">Общее
                                </button>
                                <button type="button" class="btn btn-outline-primary"
                                        onclick="toggleSection('section-customer')">Заказчик
                                </button>
                                <button type="button" class="btn btn-outline-primary"
                                        onclick="toggleSection('section-contractor')">Подрядчик
                                </button>
                                <button type="button" class="btn btn-outline-primary"
                                        onclick="toggleSection('section-designer')">Проектировщик
                                </button>
                                <button type="button" class="btn btn-outline-primary"
                                        onclick="toggleSection('section-another-person')">Иное лицо
                                </button>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-info btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    <span class="text">Создать ИТД</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Form -->
                        <div class="col-lg-8">
                            <form action="/passport-object-add" method="post">

                                <!-- General Information Section -->
                                <div id="section-general" class="form-section">
                                    <div class="d-sm-flex align-items-center justify-content-between mb-3">
                                        <h4 class="h4 mb-0 text-gray-800">Общие сведения об объекте</h4>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Имя ИТД:</label>
                                        <input type="text" name="nameItd" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Наименование объекта:</label>
                                        <input type="text" name="nameObject" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Адрес объекта:</label>
                                        <input type="text" name="addressObject" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Шифр объекта:</label>
                                        <input type="text" name="projectCode" class="col-sm-8">
                                    </div>
                                </div>

                                <!-- Customer Section -->
                                <div id="section-customer" class="form-section" style="display:none;">
                                    <div class="d-sm-flex align-items-center justify-content-between mb-3">
                                        <h4 class="h4 mb-0 text-gray-800">Заказчик</h4>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Наименование заказчика:</label>
                                        <input type="text" name="nameCustomer" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">ОГРН заказчика:</label>
                                        <input type="text" name="ogrnCustomer" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">ИНН заказчика:</label>
                                        <input type="text" name="innCustomer" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Адрес заказчика:</label>
                                        <input type="text" name="addressCustomer" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Телефон/факс заказчика:</label>
                                        <input type="text" name="phoneCustomer" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Наименование СРО заказчика:</label>
                                        <input type="text" name="nameOrganizationCustomer" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">ОГРН СРО заказчика:</label>
                                        <input type="text" name="ogrnOrganizationCustomer" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">ИНН СРО заказчика:</label>
                                        <input type="text" name="innOrganizationCustomer" class="col-sm-8">
                                    </div>

                                    <!-- Контейнер для добавления новых полей для ответственных лиц -->
                                    <div id="customerResponsiblesContainer">
                                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                            <h4 class="h4 mb-0 text-gray-800">Представитель заказчика №1</h4>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Должность представителя заказчика:</label>
                                            <input type="text" name="customerResponsiblePosition_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">ФИО представителя заказчика:</label>
                                            <input type="text" name="customerResponsibleName_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6">Идентификационный номер в национальном реестре
                                                специалистов:</label>
                                            <input type="text" name="customerResponsibleIdNumber_1" class="col-sm-6">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Распорядительный документ:</label>
                                            <input type="text" name="customerResponsibleNameDocument_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Номер распорядительного документа:</label>
                                            <input type="text" name="customerResponsibleNumberDocument_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Дата распорядительного документа:</label>
                                            <input type="text" name="customerResponsibleDateDocument_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6">Юридическое лицо представителя заказчика:</label>
                                            <input type="text" name="customerResponsibleNameCompany_1" class="col-sm-6">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">ОГРН юридического лица:</label>
                                            <input type="text" name="customerResponsibleOgrnCompany_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">ИНН юридического лица:</label>
                                            <input type="text" name="customerResponsibleInnCompany_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Адрес юридического лица:</label>
                                            <input type="text" name="customerResponsibleAdrCompany_1" class="col-sm-8">
                                        </div>
                                    </div>

                                    <!-- Кнопка добавления ответственного лица -->
                                    <button type="button" class="btn btn-primary btn-icon-split mt-3"
                                            onclick="addCustomerResponsible()">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">Добавить ответственное лицо</span>
                                    </button>
                                </div>

                                <!-- Contractor Section -->
                                <div id="section-contractor" class="form-section" style="display:none;">
                                    <div class="d-sm-flex align-items-center justify-content-between mb-3">
                                        <h4 class="h4 mb-0 text-gray-800">Подрядчик</h4>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Наименование подрядчика:</label>
                                        <input type="text" name="nameContractor" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">ОГРН подрядчика:</label>
                                        <input type="text" name="ogrnContractor" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">ИНН подрядчика:</label>
                                        <input type="text" name="innContractor" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Адрес подрядчика:</label>
                                        <input type="text" name="addressContractor" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Телефон/факс подрядчика:</label>
                                        <input type="text" name="phoneContractor" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Наименование саморегулируемой организации
                                            подрядчика:</label>
                                        <input type="text" name="nameOrganizationContractor" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">ОГРН саморегулируемой организации подрядчика:</label>
                                        <input type="text" name="ogrnOrganizationContractor" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">ИНН саморегулируемой организации подрядчика:</label>
                                        <input type="text" name="innOrganizationContractor" class="col-sm-8">
                                    </div>

                                    <!-- Контейнер для добавления новых полей для ответственных лиц -->
                                    <div id="subcustomerResponsiblesContainer">
                                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                            <h4 class="h4 mb-0 text-gray-800">Представитель подрядчика №1</h4>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Должность представителя подрядчика:</label>
                                            <input type="text" name="subcustomerResponsiblePosition_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">ФИО представителя подрядчика:</label>
                                            <input type="text" name="subcustomerResponsibleName_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6">Идентификационный номер в национальном реестре
                                                специалистов:</label>
                                            <input type="text" name="subcustomerResponsibleIdNumber_1" class="col-sm-6">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Распорядительный документ:</label>
                                            <input type="text" name="subcustomerResponsibleNameDocument_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Номер распорядительного документа:</label>
                                            <input type="text" name="subcustomerResponsibleNumberDocument_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Дата распорядительного документа:</label>
                                            <input type="text" name="subcustomerResponsibleDateDocument_1" class="col-sm-8">
                                        </div>
                                    </div>

                                    <!-- Кнопка добавления ответственного лица -->
                                    <button type="button" class="btn btn-primary btn-icon-split mt-3"
                                            onclick="addSubcustomerResponsible()">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">Добавить ответственное лицо</span>
                                    </button>

                                    <!-- Контейнер для добавления новых полей для ответственных лиц -->
                                    <div id="subcustomerResponsiblesContainer2">
                                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                            <h4 class="h4 mb-0 text-gray-800">Представитель подрядчика №1 по вопросам
                                                строительного контроля</h4>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Должность представителя подрядчика:</label>
                                            <input type="text" name="subcustomerResponsible2Position_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">ФИО представителя подрядчика:</label>
                                            <input type="text" name="subcustomerResponsible2Name_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6">Идентификационный номер в национальном реестре
                                                специалистов:</label>
                                            <input type="text" name="subcustomerResponsible2IdNumber_1" class="col-sm-6">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Распорядительный документ:</label>
                                            <input type="text" name="subcustomerResponsible2NameDocument_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Номер распорядительного документа:</label>
                                            <input type="text" name="subcustomerResponsible2NumberDocument_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Дата распорядительного документа:</label>
                                            <input type="text" name="subcustomerResponsible2DateDocument_1" class="col-sm-8">
                                        </div>
                                    </div>

                                    <!-- Кнопка добавления ответственного лица -->
                                    <button type="button" class="btn btn-primary btn-icon-split mt-3"
                                            onclick="addSubcustomerResponsible2()">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">Добавить ответственное лицо</span>
                                    </button>
                                </div>

                                <!-- Designer Section -->
                                <div id="section-designer" class="form-section" style="display:none;">
                                    <div class="d-sm-flex align-items-center justify-content-between mb-3">
                                        <h4 class="h4 mb-0 text-gray-800">Проектировщик</h4>
                                    </div>
                                    <hr>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Наименование проектировщика:</label>
                                        <input type="text" name="nameDesigner" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">ОГРН проектировщика:</label>
                                        <input type="text" name="ogrnDesigner" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">ИНН проектировщика:</label>
                                        <input type="text" name="innDesigner" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Адрес проектировщика:</label>
                                        <input type="text" name="addressDesigner" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Телефон/факс проектировщика:</label>
                                        <input type="text" name="phoneDesigner" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">Наименование саморегулируемой организации
                                            проектировщика:</label>
                                        <input type="text" name="nameOrganizationDesigner" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">ОГРН саморегулируемой организации
                                            проектировщика:</label>
                                        <input type="text" name="ogrnOrganizationDesigner" class="col-sm-8">
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4">ИНН саморегулируемой организации проектировщика:</label>
                                        <input type="text" name="innOrganizationDesigner" class="col-sm-8">
                                    </div>

                                    <div id="designerResponsiblesContainer">
                                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                            <h4 class="h4 mb-0 text-gray-800">Представитель проектировщика №1</h4>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Должность представителя проектировщика:</label>
                                            <input type="text" name="designerResponsiblePosition_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">ФИО представителя проектировщика:</label>
                                            <input type="text" name="designerResponsibleName_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6">Идентификационный номер в национальном реестре
                                                специалистов:</label>
                                            <input type="text" name="designerResponsibleIdNumber_1" class="col-sm-6">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Распорядительный документ:</label>
                                            <input type="text" name="designerResponsibleNameDocument_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Номер распорядительного документа:</label>
                                            <input type="text" name="designerResponsibleNumberDocument_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Дата распорядительного документа:</label>
                                            <input type="text" name="designerResponsibleDateDocument_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6">Юридическое лицо представителя
                                                проектировщика:</label>
                                            <input type="text" name="designerResponsibleNameCompany_1" class="col-sm-6">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">ОГРН юридического лица:</label>
                                            <input type="text" name="designerResponsibleOgrnCompany_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">ИНН юридического лица:</label>
                                            <input type="text" name="designerResponsibleInnCompany_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Адрес юридического лица:</label>
                                            <input type="text" name="designerResponsibleAdrCompany_1" class="col-sm-8">
                                        </div>
                                    </div>
                                    <!-- Кнопка добавления ответственного лица -->
                                    <button type="button" class="btn btn-primary btn-icon-split mt-3"
                                            onclick="addDesignerResponsible()">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">Добавить ответственное лицо</span>
                                    </button>
                                </div>

                                <!-- Designer Section -->
                                <div id="section-another-person" class="form-section" style="display:none;">
                                    <div id="anotherPersonResponsiblesContainer">
                                        <div class="d-sm-flex align-items-center justify-content-between mb-3">
                                            <h4 class="h4 mb-0 text-gray-800">Представитель иного лица №1</h4>
                                        </div>
                                        <hr>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Должность представителя иного лица:</label>
                                            <input type="text" name="anotherPersonPosition_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">ФИО представителя иного лица:</label>
                                            <input type="text" name="anotherPersonName_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6">Идентификационный номер в национальном реестре
                                                специалистов:</label>
                                            <input type="text" name="anotherPersonIdNumber_1" class="col-sm-6">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Распорядительный документ:</label>
                                            <input type="text" name="anotherPersonNameDocument_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Номер распорядительного документа:</label>
                                            <input type="text" name="anotherPersonNumberDocument_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Дата распорядительного документа:</label>
                                            <input type="text" name="anotherPersonDateDocument_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6">Юридическое лицо представителя иного лица:</label>
                                            <input type="text" name="anotherPersonNameCompany_1" class="col-sm-6">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">ОГРН юридического лица:</label>
                                            <input type="text" name="anotherPersonOgrnCompany_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">ИНН юридического лица:</label>
                                            <input type="text" name="anotherPersonInnCompany_1" class="col-sm-8">
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4">Адрес юридического лица:</label>
                                            <input type="text" name="anotherPersonAdrCompany_1" class="col-sm-8">
                                        </div>
                                    </div>
                                    <!-- Кнопка добавления ответственного лица -->
                                    <button type="button" class="btn btn-primary btn-icon-split mt-3"
                                            onclick="addAnotherPersonResponsible()">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">Добавить ответственное лицо</span>
                                    </button>
                                </div>
                            </form>
                            <hr>
                            <!-- Navigation Panel -->
                            <div class="d-sm-flex align-items-center justify-content-between mt-4">
                                <div class="d-sm-flex align-items-center justify-content-end">
                                    <button class="btn btn-primary btn-icon-split" onclick="prevSection()">
                                        <span class="icon text-white-600">
                                            <i class="fas fa-arrow-left"></i>
                                        </span>
                                        <span class="text">Назад</span>
                                    </button>
                                </div>
                                <div class="d-sm-flex align-items-center justify-content-end">
                                    <button class="btn btn-primary btn-icon-split" onclick="nextSection()">
                                        <span class="text">Вперед</span>
                                        <span class="icon text-white-600">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>


                            <div class="d-sm-flex align-items-center justify-content-between mt-4">
                                <a href="/index" role="button" class="btn btn-light btn-icon-split">
                                            <span class="icon text-gray-600">
                                                <i class="fas fa-arrow-left"></i>
                                            </span>
                                    <span class="text">Отмена</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- JavaScript для управления видимостью секций -->
<script th:src="@{/js/passportObject.js}"></script>
<script th:src="@{/js/toggleSection.js}"></script>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>
