<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Проектная документация</title>
    <link href="../static/css/status.css" th:href="@{/css/status.css}" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"
          type="text/css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="../static/js/updateStatus.js" th:src="@{/js/updateStatus.js}"
            type="text/javascript"></script>
</head>
<body>
<h1 id="headerText" hidden>Проектная документация</h1>
<header th:insert="blocks/header :: header"></header>
<div class="table-responsive">
    <table class="table table-success table-striped table-hover table-bordered">
        <tr class="text-center">
            <th>Статус</th>
            <th>Сеть</th>
            <th>Раздел проекта</th>
            <th>Чертежи</th>
            <th th:if="${#authentication.principal.authorities.?[authority == 'USER'].size() > 0}">Действия</th>
        </tr>
        <tr th:each="doc : ${projectDocumentationList}">
            <td>
                <form th:action="'/project-documentation-table/' + ${doc.id} + '/update-status'" method="post">
                    <select name="status" class="status-select" onchange="updateStatus(this.form)">
                        <option value="Готов" th:selected="${doc.status == 'Готов'}"
                                data-image-url="/images/green.png"></option>
                        <option value="В процессе" th:selected="${doc.status == 'В процессе'}"
                                data-image-url="/images/yellow.png"></option>
                        <option value="Требует создания" th:selected="${doc.status == 'Требует создания'}"
                                data-image-url="/images/red.png"></option>
                    </select>
                </form>
            </td>
            <td th:text="${doc.network}"></td>
            <td th:text="${doc.projectSection}"></td>
            <td>
            <span th:each="drawing : ${doc.drawingsList}">
                <span th:text="${drawing.drawing}"></span>
                <br>
            </span>
            </td>
            <td th:if="${#authentication.principal.authorities.?[authority == 'USER'].size() > 0}"
                class="d-flex justify-content-start text-white">
                <a th:href="'/project-documentation-table/' + ${doc.id} + '/project-documentation-edit'" role="button"
                   class="bg-primary btn-sm btn border-white">Редактировать</a>
                <form th:action="'/project-documentation-table/' + ${doc.id} + '/project-documentation-remove'"
                      method="post">
                    <button type="submit" class="bg-primary btn-sm btn border-white ms-2">Удалить</button>
                </form>
            </td>
        </tr>
    </table>
</div>
<div class="text-white">
    <a th:href="@{/project-documentation-add}"
       th:if="${#authentication.principal.authorities.?[authority == 'USER'].size() > 0}" role="button"
       class="bg-primary btn border-white mt-3 ms-5">Добавить раздел</a>
</div>
</body>
</html>