<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание проектной документации</title>
    <link href="../static/staticFiles/bootstrap.css" th:href="@{/staticFiles/bootstrap.css}" rel="stylesheet"
          type="text/css"/>
    <script src="../static/staticFiles/projectDocumentationAdd.js" th:src="@{/staticFiles/projectDocumentationAdd.js}"
            type="text/javascript"></script>
</head>
<body>
<h1 id="headerText" hidden>Создание проектной документации</h1>
<header th:insert="blocks/header :: header"></header>
<form class="row px-3 text-white d-flex flex-column" action="/project-documentation-add" method="post">
    <div class="col-6 d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bg-success d-flex justify-content-between">
            <label class="w-auto">Обозначение сети</label>
            <input type="text" id="network" name="network" class="w-50">
        </div>
    </div>
    <div class="px-1 text-white d-flex justify-content-between">
        <div class="col-6 d-flex flex-column bd-highlight mb-3">
            <div class="m-2 p-2 bg-success d-flex justify-content-between">
                <label class="w-auto">Раздел проекта</label>
                <input type="text" id="projectSection1" name="projectSection1" class="w-50">
            </div>
        </div>
        <div class="col-6 d-flex flex-column bd-highlight mt-2">
            <div class="p-2 bg-success d-flex justify-content-between">
                <label class="col-6">Перечень используемых чертежей раздела проекта</label>
                <div id="drawing-container1" class="col-6">
                    <input type="text" name="drawing1_1" class="w-50 mt-2" placeholder="Введите чертеж">
                    <button type="button" onclick="removeDrawing(this)" class="bg-success btn btn-succcess border-white mt-3 me-5">Удалить</button>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="bg-success btn btn-succcess border-white mt-3 me-5" onclick="addDrawing1()">
                    Добавить чертеж
                </button>
            </div>
        </div>
    </div>
    <div id="projectSectionHidden" hidden>
        <div class="px-1 text-white d-flex justify-content-between">
            <div class="col-6 d-flex flex-column bd-highlight mb-3">
                <div class="m-2 p-2 bg-success d-flex justify-content-between">
                    <label class="w-auto">Раздел проекта</label>
                    <input type="text" id="projectSection2" name="projectSection2" class="w-50">
                </div>
            </div>
            <div class="col-6 d-flex flex-column bd-highlight mt-2">
                <div class="p-2 bg-success d-flex justify-content-between">
                    <label class="col-6">Перечень используемых чертежей раздела проекта</label>
                    <div id="drawing-container2" class="col-6">
                        <input type="text" name="drawing2_1" class="w-50 mt-2" placeholder="Введите чертеж">
                        <button type="button" onclick="removeDrawing(this)" class="bg-success btn btn-succcess border-white mt-3 me-5">Удалить</button>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="bg-success btn btn-succcess border-white mt-3 me-5"
                            onclick="addDrawing2()">Добавить чертеж
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-start">
        <button type="button" id="btnAddProjectSection" class="bg-success btn btn-succcess border-white mt-3 me-5"
                onclick="addProjectSection()">Добавить раздел
        </button>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="bg-success btn btn-succcess border-white mt-3 me-5">Сохранить</button>
    </div>
    <div class="d-flex justify-content-start">
        <a href="/project-documentation-table" role="button" class="bg-success btn btn-succcess border-white mt-3 ms-5">
            Отмена
        </a>
    </div>
</form>
</body>
</html>
