<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Добавление протокола уплотнения</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top" class="vsc-initialized">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar_extended :: sidebar_extended}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h2 mb-0 text-primary">Акты ВиК</h1>
                </div>
                <hr>

                <div class="card shadow">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Добавление протокола уплотнения</h6>
                    </div>

                    <form th:action="'/sealing-protocols-add/' + ${itdData.id}" method="post">
                        <div class="card-body">
                            <div class="row justify-content-between mb-2">
                                <div class="d-flex col-lg-5 card mb-3 ml-4">
                                    <div class="d-flex card-body align-items-center p-3">
                                        <div class="col-lg-6">
                                            <label class="m-0">Номер протокола уплотнения</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" name="numberSealingProtocols" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex col-lg-5 card mb-3 mr-4">
                                    <div class="d-flex card-body align-items-center p-3">
                                        <div class="col-lg-6">
                                            <label class="m-0">Дата протокола уплотнения</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" name="dataSealingProtocols" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-between mb-3">
                                <div class="d-flex col-lg-5 card mb-3 ml-4">
                                    <div class="d-flex card-body align-items-center p-3">
                                        <div class="col-lg-6">
                                            <label class="m-0">Название лаборатории</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" id="nameLaboratory" name="nameLaboratory" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Кнопки Отмена и Сохранить -->
                            <div class="d-flex justify-content-between mt-4 mt-0 mr-5 ml-5">
                                <a th:href="'/sealing-protocols-table/' + ${itdData.id}" role="button" class="btn btn-light btn-icon-split">
                                    <span class="icon text-gray-600">
                                        <i class="fas fa-arrow-right"></i>
                                    </span>
                                    <span class="text">Отмена</span>
                                </a>

                                <button type="submit" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Сохранить</span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

</body>

</html>