<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание протокола уплотнения</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<h1 id="headerText" hidden>Создание протокола уплотнения</h1>
<header th:insert="blocks/header :: header"></header>
<form action="/sealing-protocols-add" method="post">
    <div class="row px-5 text-white d-flex justify-content-between">
        <div class="col-6 d-flex flex-column bd-highlight mb-3">
            <div class="m-2 p-2 bg-success d-flex justify-content-between">
                <label class="w-auto">Номер протокола уплотнения</label>
                <input class="w-50" type="text" name="numberSealingProtocols">
            </div>
            <div class="m-2 p-2 bg-success d-flex justify-content-between">
                <label class="w-auto">Дата протокола уплотнения</label>
                <input class="w-50" type="text" name="dataSealingProtocols">
            </div>
            <div class="d-flex justify-content-start">
                <a href="/sealing-protocols-table" role="button"
                   class="bg-success btn btn-succcess border-white mt-3 ms-5">Отмена</a>
            </div>
        </div>
        <div class="col-6 d-flex flex-column bd-highlight mb-3">
            <div class=" m-2 p-2 bg-success d-flex justify-content-between">
                <label class="w-auto">Название лаборатории</label>
                <input class="w-50" type="text" id="nameLaboratory" name="nameLaboratory">
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="bg-success btn btn-succcess border-white mt-3 me-5">Сохранить</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>