<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Протоколы уплотнения</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top" class="vsc-initialized">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="~{fragments/sidebar_extended :: sidebar_extended}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="~{fragments/topbar :: topbar}"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h2 mb-0 text-primary">Протоколы уплотнения</h1>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="bg-gray-300">
                        <tr>
                            <th>Статус</th>
                            <th>Номер протокола уплотнения</th>
                            <th>Дата протокола уплотнения</th>
                            <th>Название лаборатории</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="el : ${sealingProtocolsList}">
                            <td>
                                <form th:action="'/sealing-protocols-table/' + ${el.id} + '/update-status'"
                                      method="post">
                                    <select name="status" class="status-select" onchange="updateStatus(this.form)">
                                        <option value="Готов" th:selected="${el.status == 'Готов'}"
                                                data-image-url="/images/green.png"></option>
                                        <option value="В процессе" th:selected="${el.status == 'В процессе'}"
                                                data-image-url="/images/yellow.png"></option>
                                        <option value="Требует создания"
                                                th:selected="${el.status == 'Требует создания'}"
                                                data-image-url="/images/red.png"></option>
                                    </select>
                                </form>
                            </td>
                            <td th:text="${el.numberSealingProtocols}"></td>
                            <td th:text="${el.dataSealingProtocols}"></td>
                            <td th:text="${el.nameLaboratory}"></td>
                            <td>
                                <a th:href="'/sealing-protocols-table/' + ${el.id} + '/sealing-protocols-edit'"
                                   class="btn btn-circle btn-sm btn-primary mr-2"><i
                                        class="fas fa-pencil-alt fa-sm text-white-50"></i></a>
                                <form th:action="'/sealing-protocols-table/' + ${el.id} + '/sealing-protocols-remove'"
                                      method="post">
                                    <button class="btn btn-circle btn-sm btn-danger"><i
                                            class="fas fa-trash fa-sm text-white-50"></i></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <a th:href="@{/sealing-protocols-add}" class="btn btn-primary btn-icon-split mt-3">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus fa-md text-white-50"></i>
                    </span>
                    <span class="text">Добавить протокол уплотнения</span>
                </a>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- JavaScript для управления видимостью секций -->
<script src="js/new_abd_toggle.js"></script>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>

</html>