<header th:fragment="header">
    <script src="../static/js/menu_header.js" th:src="@{/js/menu_header.js}" type="text/javascript"></script>
    <link href="../static/css/file_menu.css" th:href="@{/css/file_menu.css}" rel="stylesheet"
          type="text/css"/>
    <nav>
        <ul class = "menu-main">
            <li><img src="../static/images/menu_white.png" th:src="@{/images/menu_white.png}" alt="Рисунок меню" th:attr="width=40, height=40"></li>
            <li style="display: none"><a href="/index">Главная страница</a></li>
            <li style="display: none"><a href="/passport-object-table">Паспорт объекта</a></li>
            <li style="display: none"><a href="/project-documentation-table">Проектная документация</a></li>
            <li style="display: none"><a href="/materials-used-table">Применяемые материалы</a></li>
            <li style="display: none"><a href="/executive-schemes-table">Исполнительные схемы</a></li>
            <li style="display: none"><a href="/protocols-gnb-table">Протоколы ГНБ</a></li>
            <li style="display: none"><a href="/acts-vic-table">Акты ВиК</a></li>
            <li style="display: none"><a href="/sealing-protocols-table">Протоколы уплотнения</a></li>
            <li style="display: none"><a href="/aosr-table">АОСР</a></li>
            <li style="display: none"><a href="/logs">Журналы</a></li>
            <li style="display: none"><a href="/registry">Реестр</a></li>
            <li style="display: none"><a href="/archive-itd">Архивы ИТД</a></li>
            <li><form th:action="@{/logout}" method="post">
                <input type="submit" value="Выйти"/>
            </form></li>
            <li>Главная страница</li>
        </ul>
    </nav>
</header>